/* FormContainer.module.scss */
@import '../../common/generall.scss';

.form {
	@include background-base;
	padding: 1.5rem;
	border-radius: 2rem;
	text-align: center;
	margin-top: 2rem;

	&__title {
		@include text-special;
		font-size: 1.5rem;
		margin-bottom: 1rem;
		text-align: center;
		text-transform: uppercase;
	}

	@media (min-width: 575.98px) {
		text-align: left;
		border-radius: 3rem;
		margin-top: 7rem;
		padding: 2.5rem;

		&__title {
			font-size: 2.25rem;
			margin-bottom: 1.5rem;
		}
	}
}
.form__link {
	display: block;
	font-size: 1.2rem;
	text-transform: uppercase;
	background-color: transparent;
	margin-bottom: 1rem;
	&:hover {
		text-decoration: underline;
	}
	@media (min-width: 767.98px) {
		margin-bottom: 1.5rem;
	}
	span {
		padding-left: 0.3125rem;
	}
}
